<div class="registration-container">
    <h1>Welcome to Registration </h1>
    <label for="name">Name: </label><input id="name" type="text" placeholder="Enter Name" ng-model="name"><br><br>
    <label for="email">Email: </label><input id="email" type="email" placeholder="Enter Email" ng-model="email"><br><br>
    <label for="name">password: </label><input id="password" type="password" placeholder="Enter Password" ng-model="password"><br><br>
    <button ng-click="sendData()">Register</button>
    <button><a href="#/signin">Already have an account?signin</a></button>
</div>
